# directories
cache
node_modules
out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock
.anvil.pid
.contract-address

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
prompt
dev_deployment_plan.md
